<!DOCTYPE HTML>
<html>
<head>
<title>Title of the document</title>
<style type="text/css">

*{
    /* margin: 0px; */
    padding: 0px;
    box-sizing: border-box;
}
.body{
    width: 90%;
    margin: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}
tr{
	border: solid 1px black;
}
table{
	border: 1px solid black;
}
table th{
	border: 1px solid black;
}
table th tr{
	border: 1px solid black;
}
table tr td{
	border: 1px solid black;
}
</style>

</head>

<body>
    <h1>The Submitted Data is Save into the Database Table:</h1>
	<h2>Welcome to iPhone On-line Store</h2>
	
    <label>Buyer's Name:</label>
    <label style="padding-left: 12%;">{{data[0][1]}}</label>
	<!-- <input type="text" name="name" style="margin-left: 54px;"> -->
	<br>	
	<br>
    <label>Apt., Bldg., Street:</label>
    <label style="padding-left: 10%;">{{data[0][2]}}.</label>
    <!-- <input type="text" name="street"  style="margin-left: 28px;"> -->
	<br>	
	<br>
    <label>City, Emirate,P.O Box:</label>
    <label style="padding-left: 8%;">{{data[0][3]}}</label>
	<!-- <input type="text" name="city" style="margin-left: 2px;"> -->
	<div style="margin-top: 2%;">
		<table>
			<tr>
				<th>Product</th>
				<th>Picture</th>
				<th>Price</th>
				<th>Quantity</th>
			</tr>
			<tbody>
				<tr>
					<td>AIAIAI TMA-1 Headphones with Remote+Mic</td>
					<td><img src="img/headphone.png" width="49px" alt=""></td>
					<td>AED 799.00</td>
					<!-- <td><input type="number" value="1" > </td> -->
                    <td>{{data[0][4]}}</td>
                </tr>
				<tr>
					<td>Uncommon Defelector Case for iphone 4</td>
					<td><img src="img/case.png" width="45px" alt=""></td>
					<td>AED 149.95</td>
                    <!-- <td><input type="number" value="1"> </td> -->
                    <td>{{data[0][5]}}</td>
				</tr>
				<tr>
					<td>Wireless Bluetooth Headphones</td>
					<td><img src="img/headphone1.png" width="45px" alt=""></td>
					<td>AED 1,199.00</td>
                    <!-- <td><input type="number" value="1"> </td> -->
                    <td>{{data[0][6]}}</td>
				</tr>
				<tr>
					<td>Philips DS3880W AirPlay Speaker</td>
					<td><img src="img/Philips.png" width="45px" alt=""></td>
					<td>AED 1,539.00</td>
                    <!-- <td><input type="number" value="1"> </td> -->
                    <td>{{data[0][7]}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div style="margin-top: 2%;">
		<strong style="font-size: 23px;">Payment Method</strong>
		<div style="margin-top:1%;">
			<!-- <input type="radio" name="payment" checked=""> -->
			<label>{{data[0][8]}}</label>
		</div>
		
	</div>
</body>

</html>